:root {
  --primary-chart-color: #ffffff;
  --box-padding: 2px;
  --header-footer-bg-color: #f4f4f4;
  --background-2-color: #ffffff;
  --tab-bg-color: #e0e0e0;
}

.main-dark--theme {
  --header-footer-bg-color: #0c0c0c;
  --background-2-color: #2d2d2d;
  --tab-bg-color: #1c1c1c;
}
